@import "tailwindcss";

:root{
  --primary-bg:#202331;
  --secondary-bg:#0f1116;
  --text:#c7c7c7;
  --text-highlight:#ffffff;
  --primary:#d8c026;
  --favorite:#d82670;
  
}

/* globals.css or tailwind.css */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
